.main {
  position: relative;
  margin: 0 auto;
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}
.changeProfileWrapper {
  border-radius: 12px;
  background-color: #2d2828;
}
.headers2 {
  margin: 0 0 0 0;
  padding: 4px;
  font-size: 20px;
  font-weight: 500;
  color: #fcffa8;
}
