.main {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  background-color: black;
  border-radius: 12px;
}
.first {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 10px;
  height: 200px;
}
.block {
  position: relative;
  display: grid;
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 10px;
  height: 200px;
}
