.main {
  position: relative;
  margin: 0 auto;
  padding: 12px;
  margin-top: 20px;
  width: 100%;
  min-width: 500px;
  background-color: black;
  border-radius: 12px;
}
.logout {
  position: relative;
  display: grid;
  margin: 0 auto;
  margin-top: 12px;
  width: 200px;
}
