.main {
  margin: 0 auto;
  margin-bottom: 5px;
  display: grid;
  justify-items: center;
  width: 80%;
}
.main > input {
  background-color: black;
  height: 35px;
  width: 300px;
  text-decoration: none;
  color: white;
  border: 1px solid #fcffa8;
  border-radius: 5px;
}
