.main {
  width: 100%;
  height: 100%;

  border: 1px solid #fcffa8;
  border-radius: 12px;
}
.title {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #fcffa8;
  border-radius: 9px 0px 10px 0px;
  width: 55px;
  height: 25px;
}
.title > span {
  font-size: 14px;
}
.games {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 180px;
  overflow: auto;
}
